.canister .display {
  align-items: center; 
  border: 2px solid darkgray;
  border-radius: 0.25rem;
  display: inline-flex;
  height: 4rem;
  justify-content: center;
  margin: 0.5em;
  position: relative;
  width: 3rem;
}
.canister .display .level {
  border-radius: 0 0 0.1em 0.1em;
  bottom: 0;
  display: inline;
  flex-grow: 0;
  position: absolute;
  width: 100%;
}
.canister .display .level.green {
  background-color: green;
}
.canister .display .level.red {
  background-color: red;
}
.canister .display .value {
  font-size: 0.65em;
  position: absolute;
}
