.navigation {
  background-color: #222;
  border-radius: 8px;
  left: 0;
  position: absolute;
  text-align: left;
  top: 4em;
  z-index: 1;
  &.open {
    margin-left: 0em;
  }
}
.navigation-layer {
  padding: 0.5em;
}
@media (min-width: 512px) {
  .navigation {
    width: 20em;
    margin-left: -20em;
  }
}
@media (max-width: 512px) {
  .navigation {
    width: 100%;
    margin-left: -100%;
  }
}
