.on, .off {
  border: 2px solid white;
  border-radius: 0.5em;
  font-size: 0.75rem;
  line-height: 1.33;
  padding: 0.25em;
}
.on {
  background-color: green;
  box-shadow: 0 0 1.25em 0.25em  rgb(113, 156, 113);
}
.off {
  background-color: grey;
}
.onoff {
  margin-right: 0.5em;
}
